httpx==0.26.0
fastapi==0.108.0
uvicorn==0.25.0
prometheus-client==0.19.0
opentelemetry-distro==0.43b0
opentelemetry-instrumentation-fastapi==0.43b0
opentelemetry-instrumentation-logging==0.43b0
opentelemetry-exporter-otlp==1.22.0
