httpx==0.23.0
fastapi==0.85.0
uvicorn==0.18.3
prometheus-client==0.14.1
opentelemetry-instrumentation-fastapi==0.34b0
opentelemetry-instrumentation-logging==0.34b0
opentelemetry-exporter-otlp==1.13.0
opentelemetry-api==1.13.0
opentelemetry-sdk==1.13.0
